<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
    <title>Create Task</title>
    {% endblock meta %}
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
    </style>
  </head>
</html>

{% block content %}

<div class = "add task" align="center" style="margin-top:10%" max-width:"100%" width="50%">

    <h1>Create A New Task Form</h1>

    <form method="POST" action="">
      {% csrf_token %}
      <div class="form-row align-items-center">
          <div class="col-sm-2">
            <label class="col-form-label" align="center">Title: </label>
            <td><input type="text" class="form-control" placeholder="Title" name="title"></td>
          </div>
          <div class="col-sm-2" style="margin-bottom:15px" >
            <label class="col-form-label" align="center">Description: </label>
            <td><textarea class="form-control" placeholder="Description" name="description"></textarea></td>
          </div>

          <td></td>
          <td><input class="btn btn-outline-primary" style="margin-bottom:8px" type="submit" value="Create"></td>
          
      </div>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}   

</div>

{% endblock content %}