<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
    <title>To-Do List</title>
    {% endblock meta %}  
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
    </style>
  </head>
</html>

{% block content %}

<div class = "add task" align="center" style="margin-top:3%" max-width:"100%" width="50%">
  <h2>To-Do List</h2>
  <h4>Username: {{task_user}}</h4>

    {% for task in list_task %}

    <div class="card text-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">
        {{task.date}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{task.title}}</h5>
        <p class="card-text">{{task.description}}.</p>
      </div>
    </div>
    {% endfor %}


  <p>Sesi terakhir login: {{last_login}}</p>

  <button class="btn" style="margin:1%;"><a style="text-decoration:none"  href="{% url 'todolist:create_task' %}">Create a new task</a></button>

  <button class="btn" style="margin:1%;"><a style="text-decoration:none" href="{% url 'todolist:logout' %}">Logout</a></button>

</div>
{% endblock content %}
